In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("tips.csv")
df.head(3)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458

In [ ]:
# 1-1
def son3(x):
  return x[-3:]
df["Payment ID"].apply(son3)

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [ ]:
# 1-2
df["Payment ID"].apply(lambda x : x[-3:])

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [ ]:
# 1-3
df["Payment ID"].str[-3:]

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [ ]:
# 2
df['JustName']=df["Payer Name"].apply(lambda x : x.split(" ")[0])
df.head(3)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,JustName
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,Christy
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,Douglas
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,Travis

In [ ]:
# 3
df['JustName'].value_counts()

Jason          9
Michael        7
James          6
David          6
Christopher    5
              ..
Shawna         1
Louis          1
Chris          1
Mark           1
Michelle       1
Name: JustName, Length: 153, dtype: int64

In [ ]:
# 4
print(df["Payer Name"].value_counts())
df.drop('JustName',axis=1,inplace = True)
df.head(3)

Christy Cunningham    1
Todd Patterson        1
Madison Wilson        1
Ryan Gonzales         1
Laura Robles          1
                     ..
Shawna Cook           1
Derek Thomas          1
Donald Williams       1
Roger Taylor          1
Michelle Hardin       1
Name: Payer Name, Length: 244, dtype: int64

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458

In [ ]:
# 5
df_male = df[df["sex"] == "Male"].reset_index()
df_female = df[df["sex"] == "Female"].reset_index()
print(df_male.shape[0],df_female.shape[0],sep="\n")

157
87

In [ ]:
# 6
print(sum(df_male["tip"]),sum(df_female["tip"]))

485.0700000000001 246.51

In [ ]:
# 7
print(df_male["tip"].mean(),df_female["tip"].mean())

3.0896178343949043 2.8334482758620685

In [ ]:
# 8
df_male[df_male["smoker"]=="Yes"].shape[0]*100/df_male.shape[0]

38.21656050955414

In [ ]:
df_female[df_female["smoker"]=="Yes"].shape[0]*100/df_female.shape[0]

37.93103448275862

In [ ]:
# 9
print(df_male[df_male["time"]=="Dinner"].shape[0]*100/df_male.shape[0],df_male[df_male["time"]=="Lunch"].shape[0]*100/df_male.shape[0])
print(df_female[df_female["time"]=="Dinner"].shape[0]*100/df_female.shape[0],df_female[df_female["time"]=="Lunch"].shape[0]*100/df_female.shape[0])

78.98089171974522 21.019108280254777
59.770114942528735 40.229885057471265

In [45]:
# 10
df.drop("CC Number",axis = 1,inplace = True)
df.corr()

                  total_bill       tip      size  price_per_person
total_bill          1.000000  0.675734  0.598315          0.647554
tip                 0.675734  1.000000  0.489299          0.347405
size                0.598315  0.489299  1.000000         -0.175359
price_per_person    0.647554  0.347405 -0.175359          1.000000